/* Style the tab */


.tab {
    display: flex;
    justify-content: center;  /* Horizontally centers the buttons */
    align-items: center;      /* Vertically centers the buttons (if needed) */
    gap: 3rem;                /* Optional: adds space between the buttons */
    flex-wrap: wrap;          /* Allows buttons to wrap if there's not enough space */
  }
  
  .tablinks {
    padding: 10px 20px;       /* Adds padding inside each button */
    margin: 5px;              /* Optional: adds space around the buttons */
    background-color: #f1f1f1; /* Button background color */
    border: 1px solid #ccc;   /* Button border */
    cursor: pointer;
    border-radius: 5px;       /* Rounded corners (optional) */
    text-align: center;
  }
  
  .tablinks:hover {
    background-color: #ddd;   /* Hover effect */
  }

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
  }

  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }


  /* fno tab data */


.content-container {
    text-align: center;
    width: 100%;
    max-width: 1260px;
}


.content img {
    height: 400px;
    width: 100%;
    max-width: 1270px;
    /* height: auto; */
    border-radius: 8px;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 25px;
    color: #1d1d1d;
    margin: 10px 0;
    text-align: start;
}

.content {
    opacity: 1;
    transition: opacity 1s ease-in-out; /* Fade-in and fade-out animation */
}


/* Style the tab */
.section-tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

/* Style the buttons inside the tab */
.section-tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.section-tabs button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.section-tabs button.active {
  background-color: #ccc;
}

/* Style the tab content */
.section-content {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
}